<h2>Employee Form</h2>

<form (ngSubmit)="submitForm()">
  <div>
    <label for="employeeId">Employee Id:</label>
    <input type="text" id="employeeId" [(ngModel)]="employee.employeeId" [ngModelOptions]="{standalone: true}" required>
  </div>

  <div>
    <label for="employeeName">Employee Name:</label>
    <input type="text" id="employeeName" [(ngModel)]="employee.employeeName" [ngModelOptions]="{standalone: true}" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}" required>
  </div>
  <div>
    <label for="phoneNo">Phone Number:</label>
    <input type="text" id="phoneNo" [(ngModel)]="employee.phoneNo" [ngModelOptions]="{standalone: true}" required>
  </div>

  <button type="submit">Submit</button>
</form>